@media(max-width:768px){
    .noteCon{
        height: 100vh;
    }
    .dummy{
        margin-top: 8rem;
    }
}
@media(min-width:2559px){
    .dummy{
        height: 35rem;
    }
    .notes-entry{
        display: flex;
        gap: 5rem;
    }
    .notes-in-bx{
        font-size: 1.5em;
    }
    .notes-txt-bx{
        font-size: 1.5em;
    }
    .notes-fetch>span{
        font-size: 3em !important;
    }
}