@media(max-width:768px){
    .notesCardCom{
        width: 100%;
        margin-top: 7rem;
    }
}

@media(min-width:2559px){
    .mainViewNotesCard{
        width: 2559px;
    }
    .notesCardcomponent{
        width: 40rem;
        height: auto;
    }
    .sepNotesCardcomponent{
        width: 30rem;
        gap: 1rem;
    }
}