*,*::after,*::before{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


.signupPage{
    width: 100%;
    height: 100dvh;
    display: flex;
    flex-wrap: wrap;
}
.designSignupPart{
    width: 30%;
    height: 100dvh;
    background:linear-gradient(-40deg,#4481eb,#04befe);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}
.signupForm{
    width: 70%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items:center ; 
}
.form-input{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
@media(max-width:600px){
    .signupPage{
        width: 600px;
        
    }
    .designSignupPart{
        width: 600px;
        height: 14rem;
        position: relative;
        top: 0%;
    }
    .signupForm{
        width: 600px;
        position: relative;
        bottom: 0rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
@media(max-width:400px){
    .signupPage{
        width: 400px;
        
    }
    .designSignupPart{
        width: 600px;
        height: 14rem;
        position: relative;
        top: 0%;
    }    
    .signupForm{
        width: 400px;
        position: relative;
        bottom: 0rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

